<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
        <!-- add your targets here -->
        <target xsi:type="Console" name="console" />
        <target xsi:type="ColoredConsole" name="errors" />
        <target xsi:type="Chainsaw" name="chainsaw" address="udp://127.0.0.1:7071" />

        <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    </targets>

    <rules>
        <!-- add your logging rules here -->
        <logger name="*" writeTo="console" levels="Trace,Debug,Info" />
        <logger name="*" writeTo="errors" levels="Warn,Error,Fatal" />
        <logger name="*" writeTo="chainsaw" levels="Trace,Debug,Info,Warn,Error,Fatal" />

        <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    </rules>
</nlog>