<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Core-NLog" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.35.4.297" targetFramework="net45" />
  <package id="FakeItEasy" version="1.23.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.1.229" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.3.2" targetFramework="net45" />
</packages>