<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <connectionStrings>
    <add name="rabbit" connectionString="host=localhost;virtualHost=Sandbox;username=sandbox;password=sandbox" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="TopShelfWcfExample.ConsoleApp.MyWcfService" behaviorConfiguration="MyHttpBehavior">
        <endpoint binding="basicHttpBinding" contract="TopShelfWcfExample.ConsoleApp.IWcfService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/MyService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyHttpBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <castle>
    <components>
      <component id="ServiceDescription" type="TopShelfWcfExample.ConsoleApp.ServiceDescription, WcfExample">
        <parameters>
          <Description>This is an example service.</Description>
          <DisplayName>My Example Service</DisplayName>
          <ServiceName>MyExampleService</ServiceName>
        </parameters>
      </component>
    </components>
  </castle>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>